# Problem 1(a).  Unionized workers.

These problems use the 1985 Current Population Survey data, ```cps.csv```, from last week.

Create a pandas data frame to hold the CPS data.  Write a function that computes the average hourly wage of a unionized worker by using control flow to iterate through each row of the data frame.

In [1]:
import pandas as pd
df=pd.read_csv('../ds710fall2017assignment9/cps.csv')
df.head(3)

   wage  educ race sex hispanic south  married  exper union  age sector
0   9.0    10    W   M       NH    NS  Married     27   Not   43  const
1   5.5    12    W   M       NH    NS  Married     20   Not   38  sales
2   3.8    12    W   F       NH    NS   Single      4   Not   22  sales

In [2]:
# determine unique values in 'union' column
import numpy as np
np.unique(df.union)

array(['Not', 'Union'], dtype=object)

In [3]:
# compute average wage of all 'union' records in dataframe
def avgWage(df):
    n=[]
    for row in range(df.shape[0]): # iterating over each row
        d=df.iloc[row,:]
        if d['union']=='Union':
            n.append(d.wage) # append the wage to list if its union
    return sum(n)/len(n) #compute average of the list

In [4]:
avgWage(df)

10.798125000000001

In [5]:
# compare to known method
avgWage(df)==np.mean(df.wage[df.union=='Union'])

True

#Problem 1(b).  More unionized workers.

Write a function that takes a row of a data frame as input.  Your function should return np.nan if a worker is not unionized, and the worker's hourly wage if the worker is unionized.  Apply this function to your data frame, then use the resulting series to compute the average hourly wage of a unionized worker.

In [6]:
# return union wage
def unionWage(df_row):
    if df_row[8] == 'Union':
        return df_row[0]
    else:
        return np.nan

In [22]:
np.mean(df.apply(unionWage, axis=1))

10.798125

# Problem 1(c).  Selecting and analyzing unionized workers.

Write code that selects the unionized workers, then computes the average hourly wage of the resulting subset.

In [9]:
subset2=df.wage[df.union=='Union']
np.mean(subset2)

10.798125

#Problem 1(d).  Timing.

Use the ```%time``` or ```%timeit``` magic commands to compare your code from 1(a), 1(b), and 1(c).  Create a markdown cell which explains the results of your comparison, including which is fastest and which is slowest.  Can you explain what makes the fastest code fastest?

In [17]:
#1a
%time avgWage(df)

CPU times: user 116 ms, sys: 2.92 ms, total: 119 ms
Wall time: 117 ms

10.798125000000001

In [24]:
#1b
%time np.mean(df.apply(unionWage, axis=1))

CPU times: user 13.2 ms, sys: 527 µs, total: 13.7 ms
Wall time: 13.3 ms

10.798125

In [20]:
#1c.
%time np.mean(df.wage[df.union=='Union'])

CPU times: user 1.31 ms, sys: 49 µs, total: 1.35 ms
Wall time: 1.33 ms

10.798125

### 1c is the fastest, followed by 1b, then 1a
For best efficiency, we will look for functions that
* minimize repetition
* use vector calculations over for loops

The slowest, 1a, will do the conditional statement, select a row the dataframe, and appending a list equal to the number of rows in the dataframe.

The second slowest, 1b, is an improvement since we are no longer uses a for loop. The downside and costliness is that there is quite a bit of repetition; we are still doing the conditional statement a number of times equal to the number of total rows in the dataframe.

The fastest, 1c, uses vector calculations to select the specific data that we want to run a calculation, then immediately calculates the mean on the resulting data. There is essentially zero repetition in 1c.